
.button {
    position: relative;
    width: 250px;
    height: 250px;

    border-radius: 20px;
    transform: rotate(45deg);
    border: none;
}

.button:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
}

.button:disabled {
    opacity: 30%;
}

.button-market {
    background: #86BD24;
    top: 188px;
    left: 507px;
}

.button-projects {
    background: #414549;
    top: 310px;
    left: -32px;
}

.button-user {
    background: #0298A9;
    top: 511px;
    left: -82px;
}

.button-inner {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    /* or 75% */

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    transform: rotate(-45deg);
    color: #ffffff;
}

.button:disabled:hover {
    box-shadow: none;
}