/*
.leftpanel {
    height: 100%;!*
    display: flex;
    flex-direction: column;
    justify-content: center;*!
    background: blue;
}

.buttons-container {
    vertical-align:baseline;
    height: 650px;
    background: #455725;
}
*/
