.user-avatar {
    width: 50px;
    height: 50px;
    background-image: url("../avatar.png");
    border-radius: 10px;
}

.user-avatar_bottom {
    position: relative;
    top: 35px;
    height: 15px;
}

.user-text {
    display: flex;
    align-items: flex-start;
    color: #0298A9;
}

.user-text_name {
    color: #0298A9;
    font-size: 25px;
    font-weight: bold;
}

.user-text_logout {
    font-size: 20px;
    color: #0298A9;
    cursor: pointer;
}