.App {
    /*text-align: center;*/

    /*opacity: 40%;*/
}

.background {

}

html {
    width: 100%;
    height: 100%;
    /*background-image: url("hex.png");*/
    background-size: cover;
    background-blend-mode: multiply;
}